<!DOCTYPE html>
<html lang="en">

  <%= render "head.html", conn: @conn %>

  <body>
    <div class="container">

      <%= render "navigation.html", conn: @conn %>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
