<div class="row content small-10 medium-8">
  <h3>My Awesome Blog</h3>
  <p>
  This is my blog. I love technology, particularly web. If you are interested in what I have to say on these topics, please stay and hear my ramblings!

  <%= link "View Posts", to: post_path(@conn, :index), class: "button small-10 margin view-posts" %>
  </p>
</div>
